@import url("font-awesome.min.css");

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Noto-Sans';
	font-display: swap;
	src: url('fonts/Noto-Sans-Bold-Italic.ttf');
	font-weight: 600;
	font-style: italic;
}